:root {
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,187,2);
    --fondo: rgb(235,235,235);
    --main: rgb(252, 77, 40);
    --blanco: #fff;
    --negro: #000;
    --fuente-principal: 'Staatliches', cursive;
}



.cover {
    background-image: url(https://i.pinimg.com/originals/f1/54/75/f15475b7bb11a662426a55cf4ea9f0c8.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover-small {
    height: 400px;
    background-size: cover;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.CuerpoRegistro {
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    
    font-size: 1.6rem;
    line-height: 1.5;
    background-image: url(https://i.pinimg.com/originals/f1/54/75/f15475b7bb11a662426a55cf4ea9f0c8.jpg);
    background-size: cover;
    overflow-y: scroll; /* Agrega esta línea para habilitar la barra de desplazamiento vertical */
}

.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}


.FormularioRegistro {
    width: 700px;
    background: #243ed3;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
    align-items: center;
}

    .FormularioRegistro h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }


.FormularioRegistro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.FormularioRegistro a {
    color: white;
    text-decoration: none;
}

    .FormularioRegistro a:hover {
        color: white;
        text-decoration: underline;
    }

.table-stock {
    background: #24303c;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    width: 90%;
    height: 60%;
    margin-top: 2rem;
}




main-container {
    position: center;
    width: auto;
}

table {
    position: center;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}

th, td {
    padding: 20px;
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #369681;
    color: white;
}
/* Estilos personalizados */
.album-details {
    margin-top: 20px;
}

    .album-details h2 {
        font-size: 24px;
        color: #333;
    }

.rating {
    margin-bottom: 10px;
}

    .rating .fa-star {
        color: #f1c40f;
    }

    .rating .fa-star-half-full {
        color: #f1c40f;
    }

.artist,
.release-date,
.genre,
.category,
.price {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    color: #f1c40f;
}
