/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


.ContenedorPrincipal {
    padding: 2px;
    width: 100%;
    height: 600px;
    background-image: url(https://i.pinimg.com/originals/f1/54/75/f15475b7bb11a662426a55cf4ea9f0c8.jpg);
}

.container-listas {
    padding: 50px;
    height: 600px;
    overflow-y: scroll;
}

.container-Formularios {
    background-color: #243ed3;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
}

.container-Formularios {
    background-color: #243ed3;
    padding: 50px;
    height: 483px;
    width: 564px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
} 


.ImgItemListar {
    height: 2rem;
    border: double;
}
.ImgCard {
    height: 120px;
    width: 200px;
}

.bodyvinilo {
    height: 200px;
    width: 200px;
}
.rowvinilos {
    justify-content: space-around;
}

.card-precio{
    text-align: center;
    color: red;
}

.card-text {
    text-align: center;
    color: black;
    font-size-adjust:inherit;
    justify-items:stretch;
    height:25px;
}

.TituloDetalle {
    text-align: center;
    color: red;
}

.list-group {
    text-align: center;
}

.footer {
    background-color: red;
}

.ImgCarrusel {
    height: 250px;
    width:inherit;
}

.controls {
    width: 90%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
